

.login-container {
	width: 300px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px 30px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.social-buttons {
    margin: 20px 0;
}

.log_button {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* height: 180%; */
}

.log_button i {
    margin-right: 10px;
}

.google {
    background-color: #4285f4;
    color: #fff;
}

.facebook {
    background-color: #3b5998;
    color: #fff;
}


.linkedin {
	background: #0A66C2;
	color: #fff;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.terms {
	font-size: .75rem;
	padding: 5px 30px;
	line-height: 1rem;
	margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #2196F3;
}
.login-container p {
	font-size: .75rem;
}
.GoTo_login {
	font-size: .75em;
	border-top: 1px solid green;
	padding-top: 20px;
}
.terms a {
	color: #000;
	font-weight: bold;
}

.google i {
	font-size: 1rem;
	background: #fff;
	color: #000;
	padding: 5px;
}
.google span {
	margin-right: 70px;
	font-weight: bold;
}
.facebook i {
	font-size: 1rem;
	color: #fff;
	padding: 5px;
}
.facebook span {
	margin-right: 55px;
}
.linkedin i {
	font-size: 1rem;
	color: #fff;
	padding: 5px;
}
.linkedin span {
	margin-right: 60px;
}
.email i {
	font-size: 1rem;
	color: #000;
	padding: 5px;
}
.email span {
	margin-right: 70px;
}
.GoTo_login a {
	color: green;
}